.u-margin-bottom-sm {
  margin-bottom: 2rem; }

.u-margin-bottom-me {
  margin-bottom: 5rem; }

.u-margin-bottom-lg {
  margin-bottom: 10rem; }

.u-margin-none {
  margin: 0 !important; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  background-color: #f4f4f4; }

.heading-1 {
  font-weight: 400;
  font-size: 4.8rem;
  color: #ff502f;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem; }

.heading-2 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #fff; }

.heading-3 {
  font-weight: 100;
  font-size: 2.6rem;
  color: #ff502f; }

.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7.5rem;
  justify-content: space-between;
  align-items: stretch;
  font-family: 'Spartan', sans-serif;
  padding: 2rem 20rem; }
  .nav--logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    user-select: none;
    letter-spacing: 0.3rem; }
  .nav--nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    text-transform: uppercase;
    align-self: center; }
    .nav--nav--item {
      color: white;
      text-decoration: none;
      font-size: 1.3rem;
      user-select: none;
      position: relative; }
      .nav--nav--item:visited {
        color: white;
        text-decoration: none; }
      .nav--nav--item:hover::before, .nav--nav--item-active::before {
        width: 100% !important;
        background-color: #00c9b7 !important; }
      .nav--nav--item::before {
        content: "";
        position: absolute;
        bottom: -75%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 0%;
        height: 0.3rem;
        background-color: #2c2b30;
        transition: 0.3s all;
        border-radius: 10%; }
      .nav--nav--item:not(:last-child) {
        margin-right: 2.5rem; }

.auth {
  background-image: linear-gradient(to left bottom, #2c2b30, #232a34, #132b33, #022b2c, #052a1d);
  width: 100vw;
  height: 100vh; }
  .auth--animation-enter {
    animation: enterAnimation 0.3s 1 forwards; }
  .auth--animation-exit {
    animation: exitAnimation 0.3s 1 forwards; }
  .auth--loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    background-color: rgba(44, 44, 44, 0.9);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .auth--loader--icon {
      width: 4rem;
      height: 4rem;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.5); }
      .auth--loader--icon::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: circleAnimation3 2s infinite ease-out; }
      .auth--loader--icon-1 {
        background-image: linear-gradient(to right, #6d327c, #485DA6); }
        .auth--loader--icon-1::after {
          background-image: linear-gradient(to right, #6d327c, #485DA6); }
      .auth--loader--icon-2 {
        background-image: linear-gradient(to right, #485DA6, #00a1ba); }
        .auth--loader--icon-2::after {
          background-image: linear-gradient(to right, #485DA6, #00a1ba);
          animation-delay: 0.75s; }
      .auth--loader--icon-3 {
        background-image: linear-gradient(to right, #00a1ba, #36C486); }
        .auth--loader--icon-3::after {
          background-image: linear-gradient(to right, #00a1ba, #36C486);
          animation-delay: 1.5s; }

@keyframes circleAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  80% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2); }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; } }

@keyframes circleAnimation2 {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  80% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2); }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0; } }

@keyframes circleAnimation3 {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  80% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2); }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2); }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; } }
    .auth--loader--icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 5rem; }
    .auth--loader--animated-show {
      animation: showLoader 0.3s 1 forwards; }
    .auth--loader--animated-hide {
      animation: hideLoader 0.3s 1 forwards; }

@keyframes showLoader {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hideLoader {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .auth--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    height: 50rem;
    background-image: linear-gradient(to right bottom, #3b3b3b, #2c2c2c);
    border-radius: 3px;
    font-family: 'Spartan', sans-serif;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
    .auth--container--main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: 6rem;
      opacity: 1;
      position: relative; }
      .auth--container--main--header {
        font-weight: 400;
        font-size: 2.6rem;
        color: white;
        user-select: none; }
      .auth--container--main--subheader {
        font-weight: 400;
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 2rem;
        user-select: none; }
      .auth--container--main--list--animation-enter {
        animation: enterInputAnimation 0.1s 1 forwards; }
      .auth--container--main--list--animation-exit {
        animation: exitInputAnimation 0.1s 1 forwards; }
      .auth--container--main--list--item {
        display: flex;
        flex-direction: column; }
        .auth--container--main--list--item--label {
          color: whitesmoke;
          font-size: 1rem;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
          user-select: none; }
          .auth--container--main--list--item--label-error {
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-weight: 600;
            font-size: 1.1rem;
            color: #d80000;
            text-transform: none; }
            .auth--container--main--list--item--label-error--container {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-top: 0.5rem; }
            .auth--container--main--list--item--label-error--icon {
              width: 1.75rem;
              height: 1.75rem;
              background-image: url("/Warning-Circle-Icon.png");
              background-size: cover;
              margin-right: 1rem; }
        .auth--container--main--list--item--input {
          background-color: #292929;
          border: 1px solid #181818;
          font-size: 1.5rem;
          font-family: 'Spartan', sans-serif;
          font-weight: 300;
          padding: 1rem 2rem;
          color: white;
          border-radius: 2px;
          width: 35rem;
          transition: all .3s; }
          .auth--container--main--list--item--input:focus:invalid {
            border: 1px solid #9b0000 !important;
            outline: none; }
          .auth--container--main--list--item--input:hover {
            border: 1px solid #000000; }
          .auth--container--main--list--item--input:focus {
            border: 1px solid #008d5c; }
        .auth--container--main--list--item:not(:last-child) {
          margin-bottom: 2rem; }
      .auth--container--main--submit {
        margin-top: 2rem;
        background-color: #00c9b7;
        border: 1px solid #00c9b84b;
        border: 0;
        font-size: 1.5rem;
        font-family: 'Spartan', sans-serif;
        font-weight: 400;
        padding: 1.5rem 2rem;
        color: white;
        border-radius: 5px;
        width: 35rem;
        transition: all .15s;
        cursor: pointer;
        user-select: none; }
        .auth--container--main--submit:hover {
          background-color: #00a194; }
        .auth--container--main--submit:active {
          background-color: #00c9b883;
          outline: 0; }
        .auth--container--main--submit:focus {
          outline: 0; }
      .auth--container--main--alternative {
        margin-top: 5rem;
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        user-select: none; }
        .auth--container--main--alternative--link, .auth--container--main--alternative--link:visited {
          cursor: pointer;
          color: #00c9b7;
          font-weight: 800;
          text-decoration: none;
          letter-spacing: 0.05rem;
          padding-left: 0.4rem;
          transition: all .2s;
          display: inline-block;
          user-select: none; }
          .auth--container--main--alternative--link:hover, .auth--container--main--alternative--link:visited:hover {
            color: #00f0dc; }
    .auth--container--side {
      width: 45%;
      height: 100%;
      background-image: linear-gradient(to left top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%); }

@keyframes enterAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -70%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

@keyframes exitAnimation {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%); }
  100% {
    opacity: 0;
    transform: translate(-50%, -70%); } }

@keyframes enterInputAnimation {
  0% {
    opacity: 0;
    transform: translateX(20%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes exitInputAnimation {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(-20%); } }
